openapi: 3.0.3
info:
  title: Free Fire API - Free Fire Player Stats & Data API
  version: '2.0'
  description: |
    # Free Fire Community API Documentation
    
    ## 🎮 The Most Comprehensive Free Fire API
    
    Welcome to the **Free Fire Community API** - a comprehensive, unofficial API service that provides access to Free Fire player statistics, craftland maps, wishlist data, and game assets.
    
    ### 🌟 Key Features
    - ✅ **Real-time Player Statistics** - Access live player data and rankings
    - ✅ **Comprehensive Profile Data** - Get detailed player information
    - ✅ **Craftland Maps** - Fetch custom map information
    - ✅ **Game Assets** - Access in-game images and icons
    - ✅ **Ban Status Checking** - Verify player ban status
    - ✅ **Multi-Region Support** - SG, IND, BR regions
    - ✅ **Fast & Reliable** - Optimized for performance
    
    ## 🔑 Getting Your API Key
    
    To use this API, you'll need an API key. Get yours at:
    **[Free Fire Community Developer Platform](https://developers.freefirecommunity.com/)**
    
    ### Authentication Methods
    
    You can authenticate your API requests using either method:
    
    1. **Header Authentication (Recommended)**
       ```
       x-api-key: your_api_key_here
       ```
       More secure as the key is not visible in URLs or logs.
    
    2. **Query Parameter Authentication**
       ```
       ?key=your_api_key_here
       ```
       Simpler for testing but less secure. Use header method in production.
    
    ## 🌍 Regional Support
    
    Our API supports all Free Fire regions with three main endpoints:
    
    - **SG Region**: Covers `SG`, `ID`, `ME`, `VN`, `TH`, `CIS`, `EU`, `TW`, `MY`, `PK`, `BD`
    - **IND Region**: Covers India only
    - **BR Region**: Covers `BR`, `US`, `NA`, `LATAM`
    
    ## 🚀 Rate Limits
    
    Rate limits vary by plan:
    - **Free**: 100 requests/month, 10 requests/minute
    - **Beginner**: 2,000 requests/month, 15 requests/minute
    - **Developer**: 25,000 requests/month, 60 requests/minute
    - **Pro**: 100,000 requests/month, 120 requests/minute
    - **Enterprise**: Custom limits
    
    Check response headers for your current rate limit status.
    
    ## ⚠️ Important Disclaimer
    
    **This API and the Free Fire Community platform are NOT affiliated with, endorsed by, or connected to Garena International or Free Fire in any way.** This is an independent, community-driven project created by fans for fans. All trademarks, game content, and assets belong to their respective owners.
    
    ## 📞 Support & Community
    
    - **Developer Portal**: [developers.freefirecommunity.com](https://developers.freefirecommunity.com/)
    - **Documentation**: [docs.freefirecommunity.com](https://docs.freefirecommunity.com/)
    - **API Status**: [status.freefirecommunity.com](https://stats.uptimerobot.com/pB5twu5M3x/801663024)
    
    ## 🔒 Security & Privacy
    
    - All API requests should be made server-side to protect your API key
    - Never expose your API key in client-side code
    - We do not store or share personal player data
    - All data is sourced from publicly available information
    
    ---
    
    **Made with ❤️ by the Free Fire Community**
    
  contact:
    name: Free Fire Community API Support
    url: https://developers.freefirecommunity.com/contact
    email: support@freefirecommunity.com
  license:
    name: API License Agreement
    url: https://developers.freefirecommunity.com/terms
  termsOfService: https://developers.freefirecommunity.com/terms
  x-logo:
    url: https://developers.freefirecommunity.com/logo.png
    altText: Free Fire Community API
  x-api-id: free-fire-community-api
  x-keywords:
    - free fire api
    - free fire stats
    - free fire player data
    - garena free fire api
    - free fire statistics
    - free fire developer api
    - free fire rest api
    - free fire player stats
    - free fire game data

servers:
  - url: https://developers.freefirecommunity.com/api/v1
    description: Production API Server (Version 1)

tags:
  - name: Player Information
    description: Retrieve comprehensive player profile data, rankings, and account information
  - name: Player Statistics
    description: Access detailed gameplay statistics including kills, wins, and performance metrics
  - name: Craftland Maps
    description: Fetch information about custom Craftland maps and user-generated content
  - name: Player Wishlist
    description: View player wishlist items and desired in-game content
  - name: Player Ban Check
    description: Check if a player account is banned or has active ban periods
  - name: Game Assets
    description: Access in-game images, icons, and visual assets

paths:
  /info:
    get:
      tags:
        - Player Information
      summary: Get Player Information
      description: |
        Retrieves comprehensive player information including profile data, rankings, badges, clan membership, pet information, and more.

        This endpoint provides detailed account information such as:
        - Basic account details (nickname, level, rank, likes)
        - Badge and banner information
        - Clan/guild membership details
        - Pet information and skills
        - Equipped items and skins
        - Credit score and diamond cost
        - Season statistics

        **Note**: Make sure to use the correct region code that matches the player's account region.
      operationId: getPlayerInfo
      parameters:
        - $ref: '#/components/parameters/RegionParam'
        - $ref: '#/components/parameters/UIDParam'
        - $ref: '#/components/parameters/ApiKeyHeader'
      responses:
        '200':
          description: Successfully retrieved player information
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerInfoResponse'
              example:
                basicInfo:
                  accountId: '665951869'
                  nickname: FFC•ASHQKING
                  level: 61
                  rank: 306
                  liked: 4902
                clanBasicInfo:
                  clanName: ƝEOƝ»Ᏻᴀɴɢ×͜×
                  memberNum: 37
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-code-samples:
        - lang: 'cURL (Header Auth - Recommended)'
          source: |
            curl -X GET "https://developers.freefirecommunity.com/api/v1/info?region=ind&uid=665951869" \
              -H "x-api-key: your_api_key_here"
        
        - lang: 'cURL (Query Parameter Auth)'
          source: |
            curl -X GET "https://developers.freefirecommunity.com/api/v1/info?region=ind&uid=665951869&key=your_api_key_here"
        
        - lang: 'JavaScript (Header Auth)'
          source: |
            const response = await fetch(
              'https://developers.freefirecommunity.com/api/v1/info?region=ind&uid=665951869',
              {
                headers: {
                  'x-api-key': 'your_api_key_here'
                }
              }
            );
            const data = await response.json();
        
        - lang: 'JavaScript (Query Parameter Auth)'
          source: |
            const response = await fetch(
              'https://developers.freefirecommunity.com/api/v1/info?region=ind&uid=665951869&key=your_api_key_here'
            );
            const data = await response.json();
        
        - lang: 'Python (Header Auth)'
          source: |
            import requests
            
            headers = {'x-api-key': 'your_api_key_here'}
            params = {'region': 'ind', 'uid': '665951869'}
            
            response = requests.get(
                'https://developers.freefirecommunity.com/api/v1/info',
                headers=headers,
                params=params
            )
            data = response.json()
        
        - lang: 'Python (Query Parameter Auth)'
          source: |
            import requests
            
            params = {
                'region': 'ind',
                'uid': '665951869',
                'key': 'your_api_key_here'
            }
            
            response = requests.get(
                'https://developers.freefirecommunity.com/api/v1/info',
                params=params
            )
            data = response.json()

  /stats:
    get:
      tags:
        - Player Statistics
      summary: Get Player Statistics
      description: |
        Retrieves detailed career gameplay statistics for a player across different Battle Royale game modes (Solo, Duo, Squad).
        
        This endpoint provides comprehensive career stats including:
        - Total games played, wins, and eliminations
        - Highest eliminations in a single match
        - Headshot statistics
        - Vehicle eliminations
        - Knockdowns and revives (for duo/squad modes)
        - Top placement counts (top 3, top 5, top 10)
        
        Statistics represent the player's all-time career performance in each mode.
      operationId: getPlayerStats
      parameters:
        - $ref: '#/components/parameters/RegionParam'
        - $ref: '#/components/parameters/UIDParam'
        - $ref: '#/components/parameters/ApiKeyHeader'
      responses:
        '200':
          description: Successfully retrieved player statistics
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlayerStatsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /image:
    get:
      tags:
        - Game Assets
      summary: Get Game Assets and Images
      description: |
        Retrieves in-game images and icons from the Free Fire asset database.
        
        This endpoint allows you to fetch various game assets including:
        - Character avatars and skins
        - Weapon skins and icons
        - Items and equipment icons
        - Badges and banners
        - Pet images
        - And more
      operationId: getGameImages
      parameters:
        - name: itemID
          in: query
          required: true
          schema:
            type: string
            pattern: '^\d+$'
          description: The item ID to retrieve the image for
          example: '908028011'
        - $ref: '#/components/parameters/ApiKeyHeader'
      responses:
        '200':
          description: Image successfully retrieved
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Image not found
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /craftland:
    get:
      tags:
        - Craftland Maps
      summary: Get Craftland Map Information
      description: |
        Retrieves detailed information about a specific Craftland custom map.
      operationId: getCraftlandMapInfo
      parameters:
        - $ref: '#/components/parameters/RegionParam'
        - name: code
          in: query
          required: true
          schema:
            type: string
          description: The Craftland map code
          example: 'FREEFIRE625B83664022B40F67CBFBFF9CC3C1247490'
        - $ref: '#/components/parameters/ApiKeyHeader'
      responses:
        '200':
          description: Map information successfully retrieved
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CraftlandMapResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Map not found
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /wishlist:
    get:
      tags:
        - Player Wishlist
      summary: Get Player Wishlist
      description: |
        Retrieves the wishlist items for a specific player account.
      operationId: getPlayerWishlist
      parameters:
        - $ref: '#/components/parameters/RegionParam'
        - $ref: '#/components/parameters/UIDParam'
        - $ref: '#/components/parameters/ApiKeyHeader'
      responses:
        '200':
          description: Wishlist successfully retrieved
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WishlistResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Player not found or wishlist is empty
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /bancheck:
    get:
      tags:
        - Player Ban Check
      summary: Check Player Ban Status
      description: |
        Checks if a Free Fire player account is currently banned or has an active ban period.
      operationId: checkPlayerBanStatus
      parameters:
        - $ref: '#/components/parameters/UIDParam'
        - name: lang
          in: query
          required: false
          schema:
            type: string
            enum: [en, ar, es, id, pt, ru, vi]
            default: en
          description: Language for the response
          example: en
        - $ref: '#/components/parameters/ApiKeyHeader'
      responses:
        '200':
          description: Ban check completed successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BanCheckResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: |
        API key for authentication. Get your API key from the [Developer Platform](https://developers.freefirecommunity.com/).
        
        **Authentication Methods:**
        - **Header (Recommended)**: `x-api-key: your_api_key_here`
        - **Query Parameter**: `?key=your_api_key_here`
        
        **Security Best Practices:**
        - Header authentication is preferred for security
        - Never expose your API key in client-side code
        - Always make API requests from your server
        - Rotate your API key if compromised

  parameters:
    RegionParam:
      name: region
      in: query
      required: true
      schema:
        type: string
        enum: [sg, ind, br]
      description: |
        The region code for the player's account:
        - `sg`: Singapore region (covers SG, ID, ME, VN, TH, CIS, EU, TW, MY, PK, BD)
        - `ind`: India region (covers IND only)
        - `br`: Brazil region (covers BR, US, NA, LATAM)
      example: ind
    
    UIDParam:
      name: uid
      in: query
      required: true
      schema:
        type: string
        pattern: '^\d{5,15}$'
      description: The unique player User ID (5-15 digits)
      example: '665951869'
    
    ApiKeyHeader:
      name: x-api-key
      in: header
      required: false
      schema:
        type: string
      description: |
        Your API key from the developer portal (Header method - Recommended).
        
        **Alternative**: You can also pass the API key as a query parameter `?key=your_api_key`
      example: ffc_1234567890_abcdefghijk
    
    ApiKeyQuery:
      name: key
      in: query
      required: false
      schema:
        type: string
      description: |
        Your API key from the developer portal (Query parameter method).
        
        **Recommended**: Use the header method (`x-api-key`) for better security.
      example: ffc_1234567890_abcdefghijk

  headers:
    X-RateLimit-Limit:
      description: The maximum number of requests allowed in the current time window
      schema:
        type: integer
      example: 60
    
    X-RateLimit-Remaining:
      description: The number of requests remaining in the current time window
      schema:
        type: integer
      example: 45
    
    X-RateLimit-Reset:
      description: The time when the rate limit resets (Unix timestamp)
      schema:
        type: integer
      example: 1735689600

  schemas:
    PlayerInfoResponse:
      type: object
      description: Comprehensive player information
      properties:
        basicInfo:
          type: object
          description: Basic player account information
        clanBasicInfo:
          type: object
          description: Player's clan information
        petInfo:
          type: object
          description: Player's equipped pet information
        creditScoreInfo:
          type: object
          description: Player's credit score information

    PlayerStatsResponse:
      type: object
      description: Detailed gameplay statistics
      properties:
        brCareer_solo:
          type: object
        brCareer_duo:
          type: object
        brCareer_squad:
          type: object

    CraftlandMapResponse:
      type: object
      description: Craftland custom map information
      properties:
        map_info:
          type: object

    WishlistResponse:
      type: object
      description: Player's wishlist items
      properties:
        wishlist_items:
          type: array
          items:
            type: object

    BanCheckResponse:
      type: object
      description: Player ban status
      properties:
        status:
          type: string
        data:
          type: object
          properties:
            is_banned:
              type: integer
              enum: [0, 1]
            period:
              type: integer

    ErrorResponse:
      type: object
      description: Standard error response
      properties:
        error:
          type: string
        message:
          type: string
        status:
          type: integer

  responses:
    BadRequest:
      description: Bad request - Invalid parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: Unauthorized - Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: Forbidden - API key doesn't have access
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    TooManyRequests:
      description: Too many requests - Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

security:
  - ApiKeyAuth: []

externalDocs:
  description: Get API Key & Full Documentation
  url: https://developers.freefirecommunity.com/
